select{
  font-family: 'Kodchasan', sans-serif;
  font-size: 15px;
  border: 1px solid rgba(149, 156, 155, 1);
  box-shadow: 8px 8px 6px -6px black;
}

@media only screen and (min-width: 640px){
  select{
    font-size: 15px;
  }
}