.login-form{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 8px 6px -6px black;
}

input{
  height: 20px;
  font-size: 15px;
}
input, .submit-user{
  border: 1px solid black;
}

.submit-user{
  margin-top: 10px;
  border-radius: 10%;
  font-size: 15px;
  font-family: 'Kodchasan', sans-serif;
}
.submit-user:hover{
  background-color: rgba(171, 48, 48, 1);
  color: white;
}

@media only screen and (min-width: 640px){
  .login-form{
    width: 50%;
  }

}