.signup-form{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

input, .submit-user{
  border: 1px solid black;
}

.submit-user{
  margin-top: 10px;
  border-radius: 10%;
}
.submit-user:hover{
  background-color: rgba(171, 48, 48, 1);
}

@media only screen and (min-width: 640px){
  .signup-form{
    width: 50%;
  }

}