.week-results{
  border: 1px solid black;
  margin: 5px;
  box-shadow: 8px 8px 6px -6px black;
}

.results-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.week-results:nth-child(even) h2{
  color: rgba(171, 48, 48, 1);
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px){
  .week-results{
    margin: 15px;
  }

}